.btn-container {
    text-align: center;
    margin: $l-size $m-size 
}

.btn {
    background-color: $dark-blue;
    border: none;
    border-radius: 5px;
    color: $off-white;
    font-size: $font-size-small;
    padding: $m-size;
    transition: background-color 0.3s linear;
    &:hover {
        background-color: $super-dark-blue;
    }
    &:disabled {
        opacity: 0.5
    }
}

.close-btn {
    background-color: $dark-red;
    border: none;
    border-radius: 5px;
    color: $off-white;
    font-size: $font-size-small;
    padding: $m-size;
    transition: background-color 0.3s linear;
    &:hover {
        background-color: $super-dark-red;
    }
}