.joke-container {
    text-align: center;
    margin-top: $l-size;
    padding-left: $l-size;
    padding-right: $l-size;
}

.joke-setup {
    font-weight: bold;
    word-break: break-word;
}

.joke-delivery {
    margin-top: $m-size;
    font-style: italic
}