// Colors
$dark-blue: #364051;
$off-white: #f7f7f7;

// Font size
$font-size-small: 15px;
$font-size-medium: 20px; 
$font-size-large: 25px;

// Spacing
$s-size: 5px;
$m-size: 10px;
$l-size: 15px;
$xl-size: 20px;